// Tocas UI CSS
link(href='https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.2/tocas.css',rel='stylesheet')
// Tocas UI JS
script(href='https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.2/tocas.js')